
{% extends 'task/base.html'%}
{% block content %}
{% load mathfilters %}
<table class="table" style="border-top: 0 !important;" >

        <tr>
            <td><div class=" p-3 mb-2 bg text-white mr-4 text-center" style="text:centre; border-radius: 5px; background-color:#059862;; color:white; border-top: none !important">
                {{all_projects}}<br>
            <small>Total Projects</small></div></td>
            <td><div class=" p-3 mb-2 bg text-white mr-4 text-center" style="text:centre; border-radius: 5px; background-color:#059862;; color:white">
                {{Project_under_progress}}<br>
            <small>Projects Under Process</small></div></td>
            <td><div class=" p-3 mb-2 bg text-white mr-4 text-center" style="text:centre; border-radius: 5px; background-color:#059862;; color:white">
                {{project_finished}}<br>
            <small>Projects Finished</small></div></td>
            <td><div class=" p-3 mb-2 bg text-white mr-4 text-center" style="text:centre; border-radius: 5px; background-color:#059862;; color:white">
                {{project_no_task}}<br>
            <small>Projects with no task</small></div></td>
            </tr>

    </table>
<h4><kbd> Project Listing (Task Detail Record)</kbd> </h4>
    {% for project in projects%}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">

                <span class="mr-2 float-right"><kbd style="background-color:#059862" > Posted on - {{project.date_posted}} </span>


            <h2><a class="article-title" style="color:#059862;" href="{% url 'project-detail' project.id %}">{{ project.title }}</a></h2>
                </div>

                <p class="article-content">{{ project.description }}</p>
                 <div class="article-metadata">
<!--              <small class="mr-2" style="color:#059862"  > Posted on - {{project.date_posted}}</small>-->
<!--              <small class="mr-2 float-right" style="color:#059862"  > Finish Date - {{project.date_posted}}</small>-->
                </div>
          </div>
        </article>
    {% endfor%}

{%endblock content%}
