{% extends "task/base.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Project</legend>
               <h2> Are you soure to delete the Project {{object.title}}</h2>
            </fieldset>
            <div class="form-group">

                <button  class="btn btn-outline-danger" type="submit" >Yes! Delete</button>
                <a class="btn btn-outline-info" href="{% url 'project-detail' object.id%}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
© 2021 GitHub, Inc.