
{% extends 'task/base.html'%}
{% block content %}
 {% load mathfilters %}
<div class="col-md-12 ">
<table class="table"  >

        <tr>
            <td><div class=" p-3 mb-2 bg text-white mr-4 text-center" style="text:centre; border-radius: 5px; background-color:#059862;; color:white; border-top: none !important">{{count.count}}<br>
            <small>Total Tasks</small></div></td>
            <td><div class=" p-3 mb-2 bg text-white mr-4 text-center" style="text:centre; border-radius: 5px; background-color:#059862;; color:white">{{under_process.count}}<br>
            <small>Task Under Process</small></div></td>
            <td><div class=" p-3 mb-2 bg text-white mr-4 text-center" style="text:centre; border-radius: 5px; background-color:#059862;; color:white">{{complete.count}}<br>
            <small>Task Finished</small></div></td>
            </tr>

<!--second row button-->

        <tr>
            <th><div class=" p-3 mb-2 bg text-white mr-4 text-center" style="text:centre; border-radius: 5px; background-color:#059862;; color:white">{{total}}<br>
            <small>Total Project Budget</small></div></th>
            <th><div id="myProg" class=" p-3 mb-2 bg text-white mr-4 text-center" style="text:centre; border-radius: 5px; background-color:#059862;; color:white">{{earn_budget}}<br>
            <small>Total Earned In Week {{object.current_week}}</small></div></th>
            <th><div class=" p-3 mb-2 bg text-white mr-4 text-center" style="text:centre; border-radius: 5px; background-color:#059862;; color:white"> {{earn_budget|div:total|mul:'100'|floatformat:2}} %<br>
            <small>Percentage Earned </small></div></th>
            </tr>
    </table>

</div>
<!--project detail section-->
    <article class="media content-section ">

     <div class="col-md-12">
      <div class="media-body">

        <h2 class="article-title article-metadata" >{{ object.title }}</h2><p></p>
<!--          <p class="article-metadata">{{ project.description }}</p>-->
<!--          <div class="media content-section col-md-3 mt-1">-->
              <button class="btn  float-left btn-ms mt-1 mr-3" style="border-radius: 5px; background-color:#059862;"><a href="{%url 'project-week-update' project.id%}"> <i class="fa fa-edit " style="font-size:20px;color:white"></i></a></button>
                <Span  style="color:#059862;" >Current Week : {{object.current_week}}</Span><br>
                <small class="text-muted">Edit to change Week</small>

<!--          </div>-->

         {% if object.author == user %}
          <div class="float-right">
              <button class="btn  btn-ms " style="border-radius: 5px; background-color:#059862;"><a href="{%url 'project-update' project.id %}"> <i class="fa fa-edit " style="font-size:20px;color:white"></i></a></button>
             <button class="btn  btn-ms " style="border-radius: 5px; background-color:#059862;"><a href="{%url 'project-delete' project.id %}"> <i class="fa fa-trash-o " style="font-size:20px;color:white"></i></a>
          </div>
          {%endif%}

      </div>
      </div>
    </article>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<canvas id="myChart2" style="width:100%"></canvas>

<script>
var xValues = [{%for task in tasks%} {{forloop.counter}},{%endfor%}];
var array = [{%for task in tasks%}{{task.task_price}},{%endfor%}],sum;
var prog = [{%for task in tasks%}{{task.task_prog}}/100*{{task.task_price}},{%endfor%}],sum;
var ac_cost = [{%for task in tasks%}{{task.actual_cost_calculated}},{%endfor%}];
console.log(ac_cost);
new Chart("myChart2", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      labels: array[0],
      data: [{%for task in tasks%}{{task.task_price}},{%endfor%}],
      lineTension: 0,
      borderColor: "brown",
      backgroundColor: "brown",
      label: 'Task Budget',
      fill: false
    }, {
      data: [{%for task in tasks%}{{task.task_prog}}/100*{{task.task_price}},{%endfor%}],
      lineTension: 0,
      borderColor: "green",
      backgroundColor: "green",
      label: 'Task Progress',
      fill: false
    }, {
      data: array.map(elem => sum = (sum || 0) + elem),
      lineTension: 0,
      borderColor: "blue",
      backgroundColor: "blue",
      label: 'Planned Value',
      fill: false
    },{
      data: prog.map((elem, index) => prog.slice(0,index + 1).reduce((a, b) => a + b)),
      lineTension: 0,
      borderColor: "red",
      backgroundColor: "red",
      label: 'Earned Value',
      fill: false

    },{
      data: ac_cost.map((elem, index) => ac_cost.slice(0,index + 1).reduce((a, b) => a + b)),
      lineTension: 0,
      borderColor: "yellow",
      backgroundColor: "yellow",
      label: 'Actual Cost',
      fill: false

    }
    ]
  },
  options: {
    legend: {display: true}
  }
});
</script>



<!--data table-->
<div class="row">
    <!-- column -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div> <b style="border-radius: 5px; color:#059862;"> Project status view </b>
                    {% if object.author == user %}
                        <button class="btn  btn-md float-right" style="border-radius: 5px; background-color:#059862; color:white" onclick="document.location='{%url 'task-create'%}'">Add Task</button>
                    <p></p> {%endif%}
                </div>

            </div>

 <div class="table-responsive">
                <table class="table v-middle">
                    <thead>
                        <tr class="bg-light">
                            <th class="border-top-0">ID</th>
                            <th class="border-top-0">Name</th>
                            <th class="border-top-0">Budget Cost</th>
                            <th class="border-top-0">Planned Start</th>
                            <th class="border-top-0">Planned Finish</th>
                            <th class="border-top-0">Actual Start</th>
                            <th class="border-top-0">Actual Finish</th>
                            <th class="border-top-0">Progress</th>
                            <th class="border-top-0">Actual Cost</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {%for task in tasks%}
                     <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{task.task_name}}</td>
                         <td id="bgt">{{task.task_price}}</td>
                        <td>{{task.plan_start_date}}</td>
                        <td>{{task.plan_end_date}}</td>
                        <td > {{task.actual_start_date}}</td>
                        <td > {{task.actual_end_date}}</td>
                        <td class="label label-default" >{{task.task_prog}} %</td>
                         <td >{{task.actual_cost_calculated}} </td>
                         {% if object.author == user %}
                        <td>
                            <button class="btn  btn-ms mr-2" style="border-radius: 5px; background-color:#059862;"><a href="{% url 'task-update' task.id %}"> <i class="fa fa-edit " style="font-size:15px;color:white"></i></a>
                            <button class="btn  btn-ms " style="border-radius: 5px; background-color:#059862;"><a href="{%url 'task-delete' task.id %}"> <i class="fa fa-trash-o  " style="font-size:15px;color:white"></i></a></td>
                        {%endif%}

                     </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{%endblock content%}
