{% extends "task/base.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Task</legend>
               <h2> Are you soure to delete the Project {{object.task_name}}</h2>
            </fieldset>
            <div class="form-group">
                <input type="hidden" name="next" value="{{request.path}}">
                <button class="btn btn-outline-danger" type="submit" >Yes! Delete</button>
                <a class="btn btn-outline-info" href="{{request.META.HTTP_REFERER}}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
