
{% extends 'task/base.html'%}
{% block content %}
{% load mathfilters %}

        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <span class="mr-2 float-right"><kbd style="background-color:#059862" > Posted on - {{object.date_posted}} </span>
            <h2 style="color:#059862;">{{ object.title }}</h2>
                </div>

          </div>
        </article>
  <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
            <h5 class="article-title" " >Project Duration : {{object.duration_in_weeks}} Weeks</h5>

                </div>
              <button class="btn  float-left btn-ms mt-1 mr-3" style="border-radius: 5px; background-color:#059862;"><a href="{%url 'forecast-update' project.id%}"> <i class="fa fa-edit " style="font-size:20px;color:white"></i></a></button>
                <Span class="article-content " style="color:#059862;" >Current Week - {{object.current_week}}</Span><br>
                <small class="text-muted">Edit to change Week</small>

          </div>
        </article>
<div> <small class="text-info float-right">SPI (Schedule Performance Index) - CPI (Cost Performance Index)</small></div>
<div class="table-responsive">
                <table class="table v-middle">
                    <thead>
                        <tr class="bg-light">

                            <th class="border-top-0">Duration</th>
                            <th class="border-top-0">Budget</th>
                            <th class="border-top-0">Planed Value</th>
                            <th class="border-top-0"> Earn Value</th>
                            <th class="border-top-0">Actual Cost</th>
                            <th class="border-top-0">SPI</th>
                            <th class="border-top-0">CPI</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                     <tr>
                        <td>{{object.duration_in_weeks}} Weeks</td>
                        <td>{{forecast_total_budget}}</td>
                        <td>{{forecast_total_plan|floatformat:2}}</td>
                        <td>{{forecast_total_earn}}</td>
                        <td>{{forecast_total_actual}}</td>
                        <td>{{SPI|floatformat:2}}</td>
                        <td>{{CPI|floatformat:2}}</td>
                     </tr>
                    </tbody>
                </table>
</div>

  <article class="media content-section">
                <table class="table v-middle">
                    <thead>
                        <tr class="bg-dark text-white">
                            <th class="border-top-0"></th>
                            <th class="border-top-0 ">SCENARIO 1 </th>
                            <td>Past is the future</td>
                            <th class="border-top-0 "> SCENARIO 2</th>
                            <td>Future goes as planned</td>
                        </tr>
                    </thead>
                    <tbody>
                     <tr >
                        <th class="bg-light ">Time</th>
                         <td>
                         {%if s1_time > object.duration_in_weeks %}
                         <input class="blink_me" type="radio" style="background-color: red;" />
                         {%else%} <input class="blink_me" type="radio" style="background-color: green;" />
                             {%endif%}
                         </td>
                         <td><b>{{s1_time|floatformat:2}} Weeks</b><br>
                             {%if s1_time > object.duration_in_weeks %}
                         <small class="muted">Projected Delay = {{s1_time|sub:object.duration_in_weeks|floatformat:2}} Weeks </small>
                         {%else%}<small class="muted">Projected Early Complete in {{object.duration_in_weeks|sub:s1_time|floatformat:2}} Weeks</small> {%endif%}</td>
                        <td>{%if s2_time > object.duration_in_weeks %}
                            <input type="radio"  style="background-color: red;" /></td>
                            {%else%} <input type="radio"  style="background-color: green;" /> {%endif%}</td>
                         <td><b>{{s2_time|floatformat:2}} Weeks </b><br>
                             {%if s2_time > object.duration_in_weeks %}
                         <small class="muted">Projected Delay = {{s2_time|sub:object.duration_in_weeks|floatformat:2}} Weeks </small>
                             {%else%}
                             {%if s2_time < 0 %}
                             <small class="text-danger">This Scenario does not Fall as value is -ve</small>
                             {%else%}<small class="muted">Projected Early Complete in {{object.duration_in_weeks|sub:s2_time|floatformat:2}} Weeks</small> {%endif%}
                         {%endif%}
                         </td>
                     </tr>
                     <tr>
                        <th class="bg-light ">cost</th>
                          <td>{%if s1_cost > forecast_total_budget %}
                              <input type="radio" style="background-color: red;" />
                              {%else%}<input type="radio" style="background-color: green;" />  {%endif%}
                          </td>
                         <td><b>Budget / CPI = {{s1_cost|floatformat:2}}</b><br>
                         {%if s1_cost > forecast_total_budget %}
                             <small class="muted">Project is Over Budget by = {{s1_cost|sub:forecast_total_budget|floatformat:2}}</small>
                         {%else%}<small class="muted">Poject is Under Budget = {{forecast_total_budget|sub:s1_cost|floatformat:2}} </small> {%endif%}
                         </td>
                         <td>{%if s2_cost > forecast_total_budget %}
                              <input type="radio" style="background-color: red;" />
                              {%else%}<input type="radio" style="background-color: green;" />  {%endif%}
                          </td>
                         <td><b>{{s2_cost|floatformat:2}}</b><br>
                         {%if s2_cost > forecast_total_budget %}
                             <small class="muted">Project is Over Budget by = {{s2_cost|sub:forecast_total_budget|floatformat:2}}</small>

                             {%else%}
                             {%if s2_cost < 0 %}
                             <small class="text-danger"> This Scenario does not Fall as value is -ve </small>
                             {%else%}<small class="muted">Poject is Under Budget = {{forecast_total_budget|sub:s2_cost|floatformat:2}} </small>{%endif%}{%endif%}

                         </td>
                     </tr>
                    </tbody>
                </table>

  </article>

<div><h5 class="text-info"> Project Cost Forecast = {{cost_forecast}}</h5></div>

<style>

    input[type=radio] {
    appearance: none;
    left: 50%;
    width:50px;
    height:50px;
    margin-top: 0px;
    margin-left:0px;
    vertical-align: middle;
    border-radius: 100%;
    display: block;
}

</style>
{%endblock content%}
