
{% extends 'task/base.html'%}
{% block content %}
 {% load mathfilters %}
<table class="table" style="border-top: 0 !important;" xmlns="http://www.w3.org/1999/html"
       xmlns="http://www.w3.org/1999/html">
            <tr>
            <th><div class=" p-3 mb-2 bg text-white mr-4 text-center" style="text:centre; border-radius: 5px; background-color:#059862;; color:white">{{actual_cost_items_count}}<br>
            <small>Total Target Items</small></div></th>
            <th><div class=" p-3 mb-2 bg text-white mr-4 text-center" style="text:centre; border-radius: 5px; background-color:#059862;; color:white">{{total_actual_cost}}<br>
            <small>Total Actual Cost </small></div></th>


            </tr>
    </table>
<!--project detail section-->
    <article class="media content-section">
     <div class="col-md-12">
      <div class="media-body">

        <h2 class="article-title" >{{ object.title }}</h2><p></p>
          <p class="article-metadata">{{ project.description }}</p>
<!--         {% if object.author == user %}-->
<!--          <div class="float-right">-->
<!--              <button class="btn  btn-ms " style="border-radius: 5px; background-color:#059862;"><a href="{%url 'project-update' project.id %}"> <i class="fa fa-edit " style="font-size:20px;color:white"></i></a></button>-->
<!--             <button class="btn  btn-ms " style="border-radius: 5px; background-color:#059862;"><a href="{%url 'project-delete' project.id %}"> <i class="fa fa-trash-o " style="font-size:20px;color:white"></i></a>-->
<!--          </div>-->
<!--          {%endif%}-->
      </div>
      </div>
    </article>

<p></p>.

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<canvas id="myChart2" style="width:100%"></canvas>

<script>
var xValues = [0,{%for actual in actual_cost%} {{forloop.counter}},{%endfor%}];
var prog = [,{%for actual in actual_cost%}{{actual.cost_amount}},{%endfor%}],sum;

new Chart("myChart2", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
<!--      labels: array[0,],-->
      data: [0,{%for actual in actual_cost%}{{actual.cost_amount}},{%endfor%}],
      lineTension: 0,
      borderColor: "green",
      backgroundColor: "green",
      label: 'Cost Amount',
      fill: false
    }, {
      data: prog.map((elem, index) => prog.slice(0,index + 1).reduce((a, b) => a + b)),
      lineTension: 0,
      borderColor: "red",
      backgroundColor: "red",
      label: 'Aggregate Cost Amount',
      fill: false

    },
    ]
  },
  options: {
    legend: {display: true}
  }
});
</script>
<P></P>
<!--table data-->
<div class="row">
    <p></p>
    <!-- column -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div> <b style="border-radius: 5px; color:#059862;"> Project Cost Sheet</b>
                    {% if object.author == user %}
                        <button class="btn  btn-md float-right" style="border-radius: 5px; background-color:#059862; color:white" onclick="document.location='{% url 'actual-cost-create' %}'">Add Cost</button>
                    <p></p> {%endif%}
                </div>

            </div>
            <div class="table-responsive">
                <table class="table v-middle">
                    <thead>
                        <tr class="bg-light">
                            <th class="border-top-0">ID</th>
                            <th class="border-top-0">Target Task</th>
                            <th class="border-top-0">Cost Account</th>
                            <th class="border-top-0">Cost Amount</th>
                            <th class="border-top-0"> Cost Date </th>
                            <th class="border-top-0">Invoice Date</th>
                            <th class="border-top-0">Cost Name</th>


                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {%for actual in actual_cost%}
                     <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{actual.task_cost}}</td>
                        <td>{{actual.cost_account}}</td>
                        <td>{{actual.cost_amount}}</td>
                        <td>{{actual.actual_cost_date}}</td>
                        <td>{{actual.invoice_date}}</td>
                        <td>{{actual.cost_name}}</td>
                        {% if object.author == user %}
                         <td>
                             <button class="btn  btn-ms " style="border-radius: 5px; background-color:#059862;"><a href="{%url 'actual-cost-update' actual.id %}"> <i class="fa fa-edit " style="font-size:20px;color:white"></i></a></button>
                             <button class="btn  btn-ms " style="border-radius: 5px; background-color:#059862;"><a href="{%url 'actual-cost-delete' actual.id %}"> <i class="fa fa-trash-o " style="font-size:20px;color:white"></i></a>
<!--                            <button class="btn  btn-md float-right" style="border-radius: 5px; background-color:#059862; color:white" onclick="document.location='#'">Detail</button></td>-->
                         </td>
                         {%endif%}
                     </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<p></p>

{%endblock content%}
