
{% extends 'task/base.html'%}
{% block content %}
 {% load mathfilters %}
<table class="table" style="border-top: 0 !important;" xmlns="http://www.w3.org/1999/html"
       xmlns="http://www.w3.org/1999/html">
            <tr>
            <th><div class=" p-3 mb-2 bg text-white mr-4 text-center" style="text:centre; border-radius: 5px; background-color:#059862;; color:white">{{count_cost_total}}<br>
            <small>Total Items</small></div></th>
            <th><div class=" p-3 mb-2 bg text-white mr-4 text-center" style="text:centre; border-radius: 5px; background-color:#059862;; color:white">{{Count_proposed_total}}<br>
            <small>Proposed Items </small></div></th>
            <th><div class=" p-3 mb-2 bg text-white mr-4 text-center" style="text:centre; border-radius: 5px; background-color:#059862;; color:white"> {{Count_Approved_total}}<br>
            <small>Approved Items</small></div></th>
            <th><div class=" p-3 mb-2 bg text-white mr-4 text-center" style="text:centre; border-radius: 5px; background-color:#059862;; color:white"> {{Count_rejected_total}}<br>
            <small>Rejected Items</small></div></th>
            </tr>
     <!--second row button-->

        <tr>
            <th><div class=" p-3 mb-2 bg text-white mr-4 text-center" style="text:centre; border-radius: 5px; background-color:#059862;; color:white">{{cost_total}}<br>
            <small>Total Project Cost</small></div></th>
            <th><div id="myProg" class=" p-3 mb-2 bg text-white mr-4 text-center" style="text:centre; border-radius: 5px; background-color:#059862;; color:white">{{proposed_total}}<br>
            <small>Total Proposed Cost </small></div></th>
            <th><div class=" p-3 mb-2 bg text-white mr-4 text-center" style="text:centre; border-radius: 5px; background-color:#059862;; color:white"> {{approved_total}}<br>
            <small>Total Approved Cost</small></div></th>
            <th><div class=" p-3 mb-2 bg text-white mr-4 text-center" style="text:centre; border-radius: 5px; background-color:#059862;; color:white"> {{rejected_total}}<br>
            <small>Total Rejected Cost</small></div></th>
            </tr>
    </table>
<!--project detail section-->
    <article class="media content-section">
     <div class="col-md-12">
      <div class="media-body">

        <h2 class="article-title" >{{ object.title }}</h2><p></p>
          <p class="article-metadata">{{ project.description }}</p>
<!--         {% if object.author == user %}-->
<!--          <div class="float-right">-->
<!--              <button class="btn  btn-ms " style="border-radius: 5px; background-color:#059862;"><a href="{%url 'project-update' project.id %}"> <i class="fa fa-edit " style="font-size:20px;color:white"></i></a></button>-->
<!--             <button class="btn  btn-ms " style="border-radius: 5px; background-color:#059862;"><a href="{%url 'project-delete' project.id %}"> <i class="fa fa-trash-o " style="font-size:20px;color:white"></i></a>-->
<!--          </div>-->
          {%endif%}
      </div>
      </div>
    </article>


<p></p>.
<!--table data-->
<div class="row">
    <p></p>
    <!-- column -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div> <b style="border-radius: 5px; color:#059862;"> Cost Variance </b>
                    {% if object.author == user %}
                        <button class="btn  btn-md float-right" style="border-radius: 5px; background-color:#059862; color:white" onclick="document.location='{%url 'variance-cost-create'%}'">Add Variance</button>
                    <p></p> {%endif%}
                </div>

            </div>
            <div class="table-responsive">
                <table class="table v-middle">
                    <thead>
                        <tr class="bg-light">
                            <th class="border-top-0">ID</th>
                            <th class="border-top-0">Target Task</th>
                            <th class="border-top-0">Topic</th>
                            <th class="border-top-0">Cost</th>
                            <th class="border-top-0">Time Start </th>
                            <th class="border-top-0">Time to Finish</th>
                            <th class="border-top-0">Reason for Cause</th>
                            <th class="border-top-0">Stauts</th>
                            <th class="border-top-0">Details</th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {%for x in xcost%}
                     <tr>
                        <td>{{x.task_Variance.id}}</td>
                        <td>{{x.task_Variance}}</td>
                         <td>{{x.topic}}</td>
                         <td>{{x.cost}}</td>
                        <td>{{x.purposed_start_date}}</td>
                        <td>{{x.purposed_finish_date}}</td>
                        <td>{{x.reason_for_Change}}</td>
                        <td>{{x.current_status}}</td>
                        <td><button class="btn  btn-md float-right" style="border-radius: 5px; background-color:#059862; color:white" onclick="document.location='{% url 'variance-cost-detail' x.id %}'">Detail</button></td>
                         <td></td>
                     </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<p></p>
<!-- Styles -->
<style>
#chartdiv {
  width	: 100%;
  height	: 500px;
}
</style>

<!-- Resources -->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />

<!-- Chart code -->
<script>
var chart = AmCharts.makeChart("chartdiv",
{
    "type": "serial",
    "theme": "none",
    "dataProvider": [ {
        "name": "Total Proposed",
        "points": {{proposed_total}},
        "color": "#7F5DA9",
<!--        "bullet": "https://www.amcharts.com/lib/images/faces/A04.png"-->
    },

    {
        "name": "Total Accepted",
        "points": {{approved_total}},
        "color": "#FEC514",
<!--        "bullet": "https://www.amcharts.com/lib/images/faces/C02.png"-->
    }, {
        "name": "Total Rejected",
        "points": {{rejected_total}} ,
        "color": "#DB4C3C",
<!--        "bullet": "https://www.amcharts.com/lib/images/faces/D02.png"-->
    }],
    "valueAxes": [{
        "maximum": {{cost_total}}-{{rejected_total}},
        "minimum": 0,
        "axisAlpha": 0,
        "dashLength": 4,
        "position": "left"
    }],
    "startDuration": 1,
    "graphs": [{
        "balloonText": "<span style='font-size:13px;'>[[category]]: <b>[[value]]</b></span>",
        "bulletOffset": 10,
        "bulletSize": 5,
        "colorField": "color",
        "cornerRadiusTop": 8,
        "customBulletField": "bullet",
        "fillAlphas": 0.6,
        "lineAlpha": 0,
        "type": "column",
        "valueField": "points"
    }],
    "marginTop": 0,
    "marginRight": 0,
    "marginLeft": 0,
    "marginBottom": 0,
    "autoMargins": false,
    "categoryField": "name",
    "categoryAxis": {
        "axisAlpha": 0,
        "gridAlpha": 0,
        "inside": true,
        "tickLength": 0
    },
    "export": {
    	"enabled": true
     }
});
</script>

<!-- HTML -->
<div id="chartdiv"></div>
<p></p>
{%endblock content%}
