{% extends "task/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
 <div class="float-right mr-3 mt-3  ">
        <button class="btn  btn-ms " style="border-radius: 5px; background-color:#059862;"><a href="{%url 'variance-cost-update' object.id %}"> <i class="fa fa-edit " style="font-size:20px;color:white"></i></a></button>
        <button class="btn  btn-ms " style="border-radius: 5px; background-color:#059862;"><a href="{%url 'variance-cost-delete' object.id %}"> <i class="fa fa-trash-o " style="font-size:20px;color:white"></i></a>
        <button class="btn  btn-ms float-left mr-2" style="border-radius: 5px; background-color:#059862;"><a href="{% url 'cost-detail' object.project.id%}" class="text-white"> Go Back </a>
 </div>
    <div class="content-section">
        <div class="row">
    <h3> Cost Variance Detail</h3>
            </div>

        <p></p>

        <table class="table">
            <tbody>
            <tr >

                <th class="col-xs-4 bg-dark text-white" style="width: 40%">Project Name </th>
                <th class="col-xs-8 bg-dark text-white">{{object.project}}</th>
            </tr>
             <tr>
                <th class="col-xs-4 bg-Warning text-success">Variance Item</th>
                <th class="col-xs-8 bg-Warning text-success">{{object.task_Variance}}</th>
            </tr>
             <tr>
                <th class="col-xs- bg-light">Topic</th>
                <td class="col-xs-8 active">{{object.topic}}</td>
            </tr>
             <tr>
                <th class="col-xs-4 bg-light">Cost</th>
                <td class="col-xs-8 active">USD - {{object.cost}}</td>
            </tr>
             <tr>
                <th class="col-xs-4 bg-light">Reason for Change</th>
                <td class="col-xs-8 active">{{object.reason_for_Change}}</td>
            </tr>
              <tr>
                <th class="col-xs-4 bg-light">Cause by Party?</th>
                <td class="col-xs-8 active">{{object.cause_by_party}}</td>
            </tr>
             <tr>
                <th class="col-xs-4 bg-light">Proposed Start</th>
                <td class="col-xs-8 active">{{object.purposed_start_date}}</td>
            </tr>
             <tr>
                <th class="col-xs-4 bg-light">Proposed Finish</th>
                <td class="col-xs-8 active">{{object.purposed_finish_date}}</td>
            </tr>
             <tr>
                <th class="col-xs-4 bg-light">Detail Description </th>
                <td class="col-xs-8 active">{{object.detail_description}}</td>
            </tr>
            <tr>
                <th class="col-xs-4 bg-light">Current Status</th>
                <td class="col-xs-8 active">{{object.current_status}}
                <button type="button" class="btn float-right"><a href="{%url 'tg_variance-cost-update' object.id %}"><i class="fa fa-edit " style="font-size:20px;color:info"></i></a></button></>
            </tr>
<!--            <tr>-->
<!--                <th class="col-xs-4 bg-light text-success">Change Status</th>-->
<!--                <td class="col-xs-8 active">{{object.change_status}}-->

<!--            </tr>-->
            </tbody>
        </table>
    </div>


<!--modal-->

  <div class="modal fade " id="myModal" tabindex="-1" role="dialog">
      <div class=" modal-dialog-centered" >
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-body">
            <h3>Are you sure! </h3>
            <p></p>
          <p>You want to change of this variation (Rejected or Approved).</p>
        </div>
        <div class="modal-footer">

          <button type="button" class="btn float-right btn-success" data-toggle="modal" data-target="">Yes!</button>
          <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">No</button>
        </div>
      </div>

    </div>
  </div>

</div>
</div>


{% endblock content %}
