{% extends "task/base.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Risk Assessment</legend>
               <h2> Are you soure to delete the " {{object.risk_name}}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit" href="/risk/risk/{{object.risk_project.id}}"> Yes! delete </button>
                <a class="btn btn-outline-info" href="{{request.META.HTTP_REFERER}}">Cancel</a>
            </div>
        </form>
    </div
{% endblock content %}
