{% extends "task/base.html" %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% block content %}
 <div class="float-right mr-3 mt-3  ">
        <button class="btn  btn-ms " style="border-radius: 5px; background-color:#059862;"><a href="{%url 'risk-update' object.id %}"> <i class="fa fa-edit " style="font-size:20px;color:white"></i></a></button>
        <button class="btn  btn-ms " style="border-radius: 5px; background-color:#059862;"><a href="{%url 'risk-delete' object.id %}"> <i class="fa fa-trash-o " style="font-size:20px;color:white"></i></a>
        <button class="btn  btn-ms float-left mr-2" style="border-radius: 5px; background-color:#059862;"><a href="{% url 'risk-list-detail' object.risk_project.id%}" class="text-white"> Go Back </a>
            </div>
    <div class="content-section">
        <div class="row">
    <h3> View and Manage Risks</h3>
            </div>

        <p></p>

        <table class="table">
            <tbody>
            <tr >

                <th class="col-xs-4 bg-dark text-white" style="width: 40%">Project Name </th>
                <th class="col-xs-8 bg-dark text-white">{{object.risk_project}}</th>
            </tr>
             <tr>
                <th class="col-xs-4 bg-Warning text-success">Target task</th>
                <th class="col-xs-8 bg-Warning text-success">{{object.risk_key}}</th>
            </tr>
             <tr>
                <th class="col-xs- bg-light">Risk name</th>
                <td class="col-xs-8 active">{{object.risk_name}}</td>
            </tr>
             <tr>
                <th class="col-xs-4 bg-light">Risk origin </th>
                <td class="col-xs-8 active">{{object.risk_origin}}</td>
            </tr>
             <tr>
                <th class="col-xs-4 bg-light">Risk likelyhood <br><small class="text-muted ">1- Extreme Unlikely 2-Unlikely 3-Likely 4-Very Likely 5–Extreme Likely </small></th>
                <td class="col-xs-8 active">{{object.risk_likelyhood}}</td>
            </tr>
              <tr>
                <th class="col-xs-4 bg-light">Risk impact<br><small class="text-muted ">1-Extreme Low 2-Very Low 3-Medium 4-High 5-Extremely High</small></th>
                <td class="col-xs-8 active">{{object.risk_impact}}</td>
            </tr>
             <tr>
                <th class="col-xs-4 bg-light">Risk score </th>
                <td class="col-xs-8 active">{{object.risk_likelyhood|mul:object.risk_impact}}</td>
            </tr>
             <tr>
                <th class="col-xs-4 bg-light">Risk impact start date (task planned start)</th>
                <td class="col-xs-8 active">{{object.risk_key.plan_start_date}}</td>
            </tr>
             <tr>
                <th class="col-xs-4 bg-light">Risk impact start date (task planned finish)</th>
                <td class="col-xs-8 active">{{object.risk_key.plan_end_date}}</td>
            </tr>
            <tr>
                <th class="col-xs-4 bg-light">Risk action </th>
                <td class="col-xs-8 active">{{object.risk_action}}
                <button type="button" class="btn float-right"><a href="{%url 'risk-action-update' object.id %}"><i class="fa fa-edit " style="font-size:20px;color:info"></i></a></button></td>
            </tr>
            <tr>
                <th class="col-xs-4 bg-light">Action description  </th>
                <td class="col-xs-8 active">{{object.risk_action}} : {{object.risk_action_description}}</td>
            </tr>
            <tr>
                <th class="col-xs-4 bg-light">Action deadline </th>
                <td class="col-xs-8 active">{{object.risk_action_deadline}}</td>

            </tr>
<!--            <tr>-->
<!--                <th class="col-xs-4 bg-light text-success">Change Status</th>-->
<!--                <td class="col-xs-8 active">{{object.change_status}}-->

<!--            </tr>-->
            </tbody>
        </table>
    </div>





{% endblock content %}
