
{% extends 'task/base.html'%}
{% block content %}
 {% load mathfilters %}
<table class="table" style="border-top: 0 !important;" xmlns="http://www.w3.org/1999/html"
       xmlns="http://www.w3.org/1999/html">
            <tr>
            <th><div class=" p-3 mb-2 bg text-white mr-4 text-center" style="text:centre; border-radius: 5px; background-color:#059862;; color:white">{{risk_count}}<br>
            <small>Total Risk Assessments</small></div></th>
            <th><div class=" p-3 mb-2 bg text-white mr-4 text-center" style="text:centre; border-radius: 5px; background-color:#059862;; color:white">{{average_risk_likely_hood|floatformat:2}}<br>
            <small>Average Risk Likely Hood </small></div></th>
            <th><div class=" p-3 mb-2 bg text-white mr-4 text-center" style="text:centre; border-radius: 5px; background-color:#059862;; color:white"> {{average_risk_imapact|floatformat:2}}<br>
            <small>Average Risk Impact</small></div></th>
            <th><div class=" p-3 mb-2 bg text-white mr-4 text-center" style="text:centre; border-radius: 5px; background-color:#059862;; color:white"> {{average_risk_score|floatformat:2}}<br>
            <small>Average Risk Score </small></div></th>
            </tr>

    </table>
<!--project detail section-->
    <article class="media content-section">
     <div class="col-md-12">
      <div class="media-body">

        <h2 class="article-title" >{{ object.title }}</h2><p></p>
          <p class="article-metadata">{{ project.description }}</p>
         {% if object.author == user %}
<!--          <div class="float-right">-->
<!--              <button class="btn  btn-ms " style="border-radius: 5px; background-color:#059862;"><a href="{%url 'project-update' project.id %}"> <i class="fa fa-edit " style="font-size:20px;color:white"></i></a></button>-->
<!--             <button class="btn  btn-ms " style="border-radius: 5px; background-color:#059862;"><a href="{%url 'project-delete' project.id %}"> <i class="fa fa-trash-o " style="font-size:20px;color:white"></i></a>-->
<!--          </div>-->
          {%endif%}
      </div>
      </div>
    </article>


<p></p>.
<!--table data-->
<div class="row">
    <p></p>
    <!-- column -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div> <b style="border-radius: 5px; color:#059862;"> Risk Management Sheet</b>
                    {% if object.author == user %}
                        <button class="btn  btn-md float-right" style="border-radius: 5px; background-color:#059862; color:white" onclick="document.location='{%url 'risk-create'%}'">Add Risk</button>
                    <p></p> {%endif%}
                   </div>

            </div>
            <div class="table-responsive">
                <table class="table v-middle">
                    <thead>
                        <tr class="bg-light text-center">
                            <th class="border-top-0">Risk Item</th>
                            <th class="border-top-0">Risk Target</th>
                            <th class="border-top-0">Risk Name</th>
                            <th class="border-top-0">Risk Likelyhood</th>
                            <th class="border-top-0">Risk Impact </th>
                            <th class="border-top-0">Risk Score</th>
                            <th class="border-top-0">Details</th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {%for risk in risks%}
                     <tr class="text-center">
                        <td>{{forloop.counter}}</td>
                        <td>{{risk.risk_key}}</td>
                         <td>{{risk.risk_name}}</td>
                         <td>{{risk.risk_likelyhood}}</td>
                        <td>{{risk.risk_impact}}</td>
                        <td>{{risk.risk_likelyhood|mul:risk.risk_impact}}</td>
                        <td><button class="btn  btn-md float-right" style="border-radius: 5px; background-color:#059862; color:white" onclick="document.location='{% url 'risk-detail' risk.id %}'">Detail</button></td>
                         <td></td>
                     </tr>
                    {%endfor%}

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<div class="ml-3">
                    <p></p>
                 <small class="text-muted"><b>Risk likelyhood </b>(1- Extreme Unlikely) (2-Unlikely) (3-Likely) (4-Very Likely) (5–Extreme Likely) </small>
                    <small class="text-muted ml-3"><b>Risk impact </b>(1-Extreme Low) (2-Very Low) (3-Medium) (4-High) (5-Extremely High)</small>
                </div>
<!-- Styles -->
<style>
#chartdiv {
  width: 100%;
  height: 50%;
}
</style>

<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script>
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end



var chart = am4core.create('chartdiv', am4charts.XYChart)
chart.colors.step = 2;

chart.legend = new am4charts.Legend()
chart.legend.position = 'top'
chart.legend.paddingBottom = 20
chart.legend.labels.template.maxWidth = 95

var xAxis = chart.xAxes.push(new am4charts.CategoryAxis())
xAxis.dataFields.category = 'category'
xAxis.renderer.cellStartLocation = 0.1
xAxis.renderer.cellEndLocation = 0.9
xAxis.renderer.grid.template.location = 0;

var yAxis = chart.yAxes.push(new am4charts.ValueAxis());
yAxis.min = 0;

function createSeries(value, name) {
    var series = chart.series.push(new am4charts.ColumnSeries())
    series.dataFields.valueY = value
    series.dataFields.categoryX = 'category'
    series.name = name

    series.events.on("hidden", arrangeColumns);
    series.events.on("shown", arrangeColumns);

    var bullet = series.bullets.push(new am4charts.LabelBullet())
    bullet.interactionsEnabled = false
    bullet.dy = 30;
    bullet.label.text = '{valueY}'
    bullet.label.fill = am4core.color('#ffffff')

    return series;
}

chart.data = [
    {%for risk in risks%}
    {
        category: '{{risk.risk_name}}',
        first: {{risk.risk_likelyhood}},
        second: {{risk.risk_impact}},
        third: {{risk.risk_likelyhood|mul:risk.risk_impact|floatformat:2}}
    },
    {%endfor%}
]


createSeries('first', 'Risk Likelyhood');
createSeries('second', 'Risk Impact');
createSeries('third', 'Risk Score');

function arrangeColumns() {

    var series = chart.series.getIndex(0);

    var w = 1 - xAxis.renderer.cellStartLocation - (1 - xAxis.renderer.cellEndLocation);
    if (series.dataItems.length > 1) {
        var x0 = xAxis.getX(series.dataItems.getIndex(0), "categoryX");
        var x1 = xAxis.getX(series.dataItems.getIndex(1), "categoryX");
        var delta = ((x1 - x0) / chart.series.length) * w;
        if (am4core.isNumber(delta)) {
            var middle = chart.series.length / 2;

            var newIndex = 0;
            chart.series.each(function(series) {
                if (!series.isHidden && !series.isHiding) {
                    series.dummyData = newIndex;
                    newIndex++;
                }
                else {
                    series.dummyData = chart.series.indexOf(series);
                }
            })
            var visibleCount = newIndex;
            var newMiddle = visibleCount / 2;

            chart.series.each(function(series) {
                var trueIndex = chart.series.indexOf(series);
                var newIndex = series.dummyData;

                var dx = (newIndex - trueIndex + middle - newMiddle) * delta

                series.animate({ property: "dx", to: dx }, series.interpolationDuration, series.interpolationEasing);
                series.bulletsContainer.animate({ property: "dx", to: dx }, series.interpolationDuration, series.interpolationEasing);
            })
        }
    }
}

}); // end am4core.ready()
</script>

<!-- HTML -->
<div id="chartdiv"></div>
{%endblock content%}
