{% extends "task/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<!-- <script src="vendor/jquery/jquery.min.js"></script>-->
    <div class="page-wrapper bg-danger p-t-100 p-b-50">
        <div class="wrapper wrapper--w900">
            <div class="card card-6">
                <div class="card-heading">
                    <p></p>
                    <h2 class="title ml-3 text-white"> Are you sure! </h2>
                    <p class="text-white ml-3">You want to update  <b>Risk Assessment</b></p>
                </div>
                <div class="card-body">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
<!--                <legend class="border-bottom mb-4">Creat New Cost  Variance</legend>-->
               {{ form.media }}
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
<!--                <input type="button" name="next" value="{{  request.GET.next }}" />-->
                <input type="hidden" name="next" value="{{request.path}}">
                <button class="btn btn-success" type="submit" onclick="">Yes! Update</button>
                <a class="btn btn-outline-info" href="{{request.META.HTTP_REFERER}}">Cancel</a>

            </div>
        </form>
    </div>
                </div></div></div></div>
<style>

<!--.card {-->
<!--  -webkit-border-radius: 3px;-->
<!--  -moz-border-radius: 3px;-->
<!--  border-radius: 3px;-->
<!--  background: green;-->
<!--}-->

.card-6 {
  background: transparent;
}

<!--.card-6 .card-heading {-->
<!--  background: transparent;-->
<!--}-->

.card-6 .card-body {
  background: #fff;
  position: relative;
<!--  border: 1px solid #e5e5e5;-->
  border-bottom: none;
  padding: 30px 0;
  padding-bottom: 0;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
}

.card-6 .card-body:before {
  bottom: 100%;
  left: 75px;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 10px;
}

.card-6 .card-footer {
  background: #fff;
<!--  border: 1px solid #e5e5e5;-->
  border-top: none;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
  padding: 50px 55px;
}

@media (max-width: 767px) {
  .card-6 .card-footer {
    padding: 50px 30px;
  }


</style>
{% endblock content %}
